<ul class="timeline">
  <div class="text-4xl gradient-text font-bold">Edward's Life</div>
  @for (item of timeLineData; track item.title; let e = $even) {
  <li>
    <div [class]=" e ?  'direction-r': 'direction-l'">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">{{item.title}}</span>
        <span class="time-wrapper"><span class="time">{{item.date}}</span></span>
      </div>
      <div class="desc">{{item.message}}{{item.mood}}</div>
    </div>
  </li>
  }
</ul>
