html, body {
  margin: 0;
  padding: 0;
}

:host {
  background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 12vh 100px;
  font-family: "cejk", 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
